.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.form {
  max-width: 500px;
}

label {
  display: block;
}

.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
